<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基本信息管理</title>
</head>
<body>
    <table id="dg" title="属性列表" class="easyui-datagrid" style="width:100%;height:100%"
           data-options="fitColumns:true,singleSelect:true,toolbar:'#tb'">
        <thead>
        <tr>
            <th data-options="field:'id',width:100">编码</th>
            <th data-options="field:'attrName',width:100">属性名称</th>
        </tr>
        </thead>
    </table>

    <div id="tb">
        <a href="javascript:addAttrInfo();" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
        <a href="javascript:editAttrInfo();" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <div>
            一级分类：<input id="ctg1ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'getCatalog1',
            onSelect: function(rec){
                        var url = 'getCatalog2?catalog1Id='+rec.id;
                        $('#ctg2ForAttrList').combobox('reload', url);
             }" />
            二级分类：<input id="ctg2ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
                        onSelect: function(rec){
                        var url = 'getCatalog3?catalog2Id='+rec.id;
                        $('#ctg3ForAttrList').combobox('reload', url);
             }" />
            三级分类：<input id="ctg3ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name'" />

            <a href="javascript:reloadAttrList();" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:120px">刷新属性列表</a>
        </div>
    </div>

    <div th:include="attrInfoPage"></div>

<SCRIPT language="JavaScript">
    //加载属性列表
    function reloadAttrList() {
        if(!checkBeforeDialog()){
            return ;
        }
       var ctg3Id =  $("#ctg3ForAttrList").combobox("getValue");
       $("#dg").datagrid({url:"getAttrList?catalog3Id="+ctg3Id});
    }

    //编辑属性
    function editAttrInfo() {
        // 打开属性添加的对话框i
        $("#dlg").dialog("open");
        //清空行信息
        $('#dg_av').datagrid({url:''});
        $('#dg_av').datagrid('loadData', { total: 0, rows: [] });
        if(!checkBeforeDialog()){
            return ;
        }
        //进页面前先加载数据
        var attrInfoRow=$("#dg").datagrid('getSelected');
        $('#dg_av').datagrid({url:'getAttrValueList?id='+attrInfoRow.id});
        $("#attrId").val(attrInfoRow.id);
        $("#attrName").textbox('setValue',attrInfoRow.attrName);
        initAttrValueDatagrid();
    }

    //新增属性
    function addAttrInfo() {
        if(!checkBeforeDialog()){
            return ;
        }
        // 打开属性添加的对话框
        $("#dlg").dialog("open");
        //清空列表
        $('#dg_av').datagrid({url:''});
        $('#dg_av').datagrid('loadData', { total: 0, rows: [] });
        //进系统前先清空
        $("#attrId").val("");
        $("#attrName").textbox('clear');
        // 初始化
        initAttrValueDatagrid();
    }

    //校验页面的三级分类id有没有选择
    function checkBeforeDialog(){
        var catalog3Id = $("#ctg3ForAttrList").combobox('getValue');
        if(catalog3Id == ''){
            $.messager.alert('警告','请先选择三级分类','warning');
            return false;
        }
        return true;
    }

</SCRIPT>
</body>
</html>